@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color:#665df5;
    --left-space:48px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.picture{
    background-image: url(./image/leaves.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 35vw;
}

.logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.526);
    position: relative;
    top: 30vh;
    gap: 1vw;
    padding: 15px 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.odin {
    height: 20vh;
}
/* left-side */

.left-side{
    /* margin-top: 80px; */
    width: 65vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.description >p{
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 600;
    width: 60vw;
    margin-left: var(--left-space);
}

.head{
    margin-top: 30px;
    margin-left: var(--left-space);
}

.left-side >h1{
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-left: var(--left-space);
}


.input{
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
}



.left{
    display: flex;
    width: 65vw;
    flex-wrap: wrap;
    gap: 20px;   
}

.form{
    box-shadow: 0 10px 20px -2px rgba(22, 22, 22, 0.216);
    padding-bottom: 30px;
    padding-left: var(--left-space);
}

input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}


input:focus{
    outline: none;
    border: 2px solid var(--color);
}

.btn{
    margin-left: var(--left-space);
}

button{
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 1.3rem;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #675df5c2;
}

.small {
    margin-left: var(--left-space);
    margin-top: 20px;
    font-size: 15px;
}